<div class="row mt-3">
   @if(wishes.length > 0){
      <ul class="wish-list">
        @for(wish of wishes; track wishes.indexOf(wish)){
          <wish-list-item
            [wish]="wish"
          ></wish-list-item>
        }
      </ul>
   }
   @else{
    <div>There are no wishes to display</div>
   }
    <!--<div *ngIf="wishes.length > 0; then showItems else noItems"></div>

    <ng-template #noItems>
      There are no wishes to display
    </ng-template>

    <ng-template #showItems>
        <wish-list-item
            *ngFor="let wish of wishes"
            [wish]="wish"
        ></wish-list-item>
    </ng-template>-->
  </div>
